

.icons {
	padding: 10px 0;

	@include respond-to( 550px ) {
		display: flex;
		flex-wrap: wrap;
	}

	a {
		@include respond-to( 550px ) {
			padding: 40px 20px;
			flex: 1;
			flex-basis: 50%;
		}

		@include respond-to( 900px ) {
			flex-basis: 25%;
		}

		&:hover * {
			text-decoration: none;
			opacity: .9;
		}
	
		.icon {
			padding: 10px 20px;

			.icon-image {
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				text-align: center;
				margin: 0 auto;
				max-width: 140px;
				padding: 30px 10px 50px 0;

				img {
					max-width: 75px;
				}

				&.navy { background-image: url( '../img/bubble-navy.png' ); }
				&.blue { background-image: url( '../img/bubble-blue.png' ); }
				&.teal { background-image: url( '../img/bubble-teal.png' ); }
				&.green { background-image: url( '../img/bubble-green.png' ); }
			}
		
			h5 {
				text-transform: uppercase;
				line-height: 1.6em;
				text-align: center;
				color: $teal;

				&.navy { color: $navy; }
				&.blue { color: $blue; }
				&.green { color: $green; }
			}
		}
	}
}

